    .clear::after {
        content: " ";
        clear: both;
        display: block;
    }
    @font-face {
        font-family: SegoeWP;
        src: url(../fonts/SegoeWP.ttf)
    }
    .brand-logo {
        width: 44px;
        height: 44px;
        border-radius: 22px;
        float: left;
        margin: 25px 15px 20px 40px;
        background-color: #5094f2;
        font-family: 'Source Sans Pro';
        font-size: 64px;
        color: white;
        text-align: center;
        line-height: 68px;
    }
    .navbar-brand {
        font-family: SegoeWP;
        font-size: 5rem;
        color: black;
        font-weight: 300;
        line-height: 60px;
    }
    .navbar-nav {
        margin: 34px 40px 0 0;
    }
    .nav {
        &__item {
            padding-bottom: 2px;
            &:hover {
                border-bottom: 3px solid #5094f2;
            }
        }
        &__link {
            font-family: SegoeWP;
            font-size: 20px;
        }
    }
    .slider {
        max-width: 1250px;
        margin: 0 auto;
    }
    .navbar {
        margin-bottom: 0;
    }
    //.greeting-block {
    //    margin-top: 20%;
    //}
    .block-with-image img {
        //    position: relative;
        //    top: 30px;
        //    right: 50px;
    }
    .features {
        text-align: center;
        padding-top: 57px;
    }
    .block__image-wrapper {
        width: 186px;
        height: 186px;
        border-radius: 50%;
        line-height: 186px;
        margin: 0 auto 10px;
        text-align: center;
        background-color: #d94748;
    }
    .img-responsive {
        display: inline-block;
    }
    .features__block {
        &:first-child .block__image-wrapper {
            background-color: #5094f2;
        }
        &:last-child .block__image-wrapper {
            background: #ebbb11;
        }
    }
    .block__title {
        font-family: 'SegoeWP';
        color: #5094f2;
        font-size: 20px;
    }
    .shopping-cart {
        padding: 45px 0 20px 0;
        &__title {
            text-align: center;
            & img {
                padding-top: 28px;
            }
        }
        &__content {
            padding-left: 15%;
        }
    }
    .secton-title {
        color: #6f7173;
        font-family: 'SegoeWP';
        font-size: 5rem;
    }
    .content-title {
        margin: 78px 0 43px 0;
        text-align: left;
        color: #6f7173;
        font-family: 'SegoeWP';
        font-size: 26px;
    }
    .content-text {
        text-align: left;
        line-height: 37px;
        color: #909090;
        font-family: 'SegoeWP';
        font-size: 15px;
    }
    footer {
        padding-bottom: 30px;
        text-align: center;
        color: #909090;
        font-family: 'SegoeWP';
        font-size: 15px;
        &:before {
            content: "";
            display: block;
            border-top: 1px solid rgba(192, 192, 192, .5);
            padding-bottom: 30px;
        }
    }
    @media(max-width: 992px) {
        .carousel-caption {
            bottom: 10px;
        }
        .features {
            padding-top: 0;
        }
        .features__block {
            padding: 7% 5%;
            border-bottom: 1px solid rgba(192, 192, 192, .5);
        }
        .block__image-wrapper {
            float: left;
            margin: 0;
        }
        .block__content {
            padding: 4% 0;
        }
    }
    @media(max-width: 600px) {
        .carousel-caption {
            bottom: -16px;
        }
    }
    @media(max-width: 500px) {
        .slider {
            display: none;
        }
        .features__block {
            padding: 7% 5%;
            border-bottom: 1px solid rgba(192, 192, 192, .5);
        }
        .block__image-wrapper {
            float: none;
            margin: 0 auto 10px;
        }
        .block__content {
            padding: 4% 0;
        }
    }
